.fi-simple-layout {
    background-image: url('/img/Puskesmas.jpeg');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.9);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.fi-simple-main-ctn {
    background-color: rgba(255, 255, 255, 0.9); /* Putih transparansi 90% */
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
